# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ai_interview

# JWT
JWT_SECRET=8f3a9b2c7d4e1f6a5b8c9d0e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2
JWT_ACCESS_TOKEN_TIME=15m
JWT_REFRESH_TOKEN_TIME=7d
JWT_ALGORITHM=HS256

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# AssemblyAI
ASSEMBLYAI_API_KEY=b526d483f1b543778c65450cf60d1379

# SciBox LLM
SCIBOX_API_KEY=your-scibox-api-key-here
SCIBOX_BASE_URL=https://llm.t1v.scibox.tech/v1

# Application
DEBUG=false
APPLICATION_PORT=8000

# ML Service
ML_API_URL=http://localhost:8080



SUPABASE_URL=https://dcamwjiwnqhwawhusklx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjYW13aml3bnFod2F3aHVza2x4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYxMDAwNTUsImV4cCI6MjA2MTY3NjA1NX0.oTSgFBkPa6O8Km7Wc_UWWmEgWeJXmyTBOJJiDWBP7tQ
